<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fay Dev Solutions</title>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Poppins:wght@500&family=Montserrat:wght@400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}

    <!-- Inclure le fichier CSS -->
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <div class="container">
            <a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.png' %}" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'apropos' %}">À Propos</a>
                    </li>

                    <!-- Dropdown pour Nos Services -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Nos Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item" href="{% url 'creationSiteWeb' %}">Création de site web</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'referencement' %}">Référencement SEO</a></li>
                            <li><a class="dropdown-item" href="{% url 'maintenance' %}">Maintenance</li>
                        </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- Hero Section -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <!-- Colonne de texte -->
                <div class="col-md-6">
                    <h1>Fay Dev Solutions</h1>
                    <h2 class="py-2">AGENCE WEB ET SEO</h2>
                    <p>Maximisez votre impact digital avec nos solutions web innovantes et un SEO qui génère des
                        résultats concrets.</p>
                    <a href="#services" class="btn btn-service btn-custom"
                        style="background-color: #f6b42e; text-decoration: #014d6d;">Nos services</a>
                    <a href="{% url 'contact' %}" class="btn btn-contact btn-outline-light">Nous contacter</a>
                </div>
                <!-- Colonne d'image -->
                <div class="col-md-6">
                    <img src="{% static 'assets/images/image5.png' %}" alt="Digital Illustration" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="bg-light">
        <div class="container">
            <h2 style="font-family: 'Montserrat', sans-serif">QUI SOMMES NOUS?</h2>
            <h3 class=" text-center ">À propos.</h3>
            <div class=" row about-p">
                <div class="col-md-6">
                    <img src="{% static 'assets/images/ofm094_edited.webp' %}" alt="Web design example"
                        class="img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-center mt-4">
                    <div>
                        <p>Fay Dev Solutions est une agence spécialisée dans le web, le SEO et la communication
                            digitale. Notre équipe, passionnée par l'innovation numérique, place la satisfaction client
                            au cœur de son action.</p>
                        <p>Experts dans la conception de sites web personnalisés et dans l'élaboration de stratégies SEO
                            efficaces, nous donnons vie à vos ambitions digitales. Chaque mission représente pour nous
                            un défi unique.</p>
                        <a href="#services" class="btn btn-about">Nos services</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container mt-5">
            <a href="#services"></a>
            <h2 class="py-5" style="font-family: 'Montserrat', sans-serif">NOS SOLUTIONS</h2>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="service-card text-start"> <!-- Ajout de 'text-start' pour aligner le texte à gauche -->
                        <div class="img-container">
                            <img src="{% static 'assets/images/site-web.webp' %}" alt="Maintenance">
                        </div>
                        <h5
                            style="text-align: left;font-size: 1.8rem; margin: 20px; font-family: 'Montserrat', sans-serif;">
                            Création de sites web
                        </h5>
                        <p>Donnez vie à votre projet digital avec EcomDev : des sites web personnalisés, alliant
                            esthétique et technologies
                            avancées pour une expérience en ligne fluide et captivante.</p>
                        <a href="#">En Savoir Plus</a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="service-card text-start"> <!-- Ajout de 'text-start' pour aligner le texte à gauche -->
                        <div class="img-container">
                            <img src="{% static 'assets/images/service-seo.webp' %}" alt="Maintenance">
                        </div>
                        <h5
                            style="text-align: left;font-size: 1.8rem; margin: 20px; font-family: 'Montserrat', sans-serif;">
                            Référencement (SEO)
                        </h5>
                        <p>Boostez votre visibilité en ligne grâce à notre expertise en SEO, alliant stratégies
                            performantes et analyses
                            approfondies pour attirer un trafic ciblé.</p>
                        <a href="#">En Savoir Plus</a>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="service-card text-start"> <!-- Ajout de 'text-start' pour aligner le texte à gauche -->
                        <div class="img-container">
                            <img src="{% static 'assets/images/site-web.webp' %}" alt="Maintenance">
                        </div>
                        <h5
                            style="text-align: left;font-size: 1.8rem; margin: 20px;   font-family: 'Montserrat', sans-serif; ">
                            Maintenance</h5>
                        <p>Assurez le bon fonctionnement de votre site avec notre service de maintenance, garantissant
                            mises à jour régulières et
                            surveillance proactive pour une performance optimale.</p>
                        <a href="#">En Savoir Plus</a>
                    </div>
                </div>

            </div>

        </div>
        </div>
    </section>

    <section>
        <div class="container mt-5 statistique">
            <h3 style="text-align: center;font-family: 'Montserrat', sans-serif">NOS STATISTIQUES
            </h3>
            <h2 class="py-4" style="font-family: 'Montserrat', sans-serif"> POURQUOI NOUS CHOISIR ?
            </h2>
            <p>Opter pour EcomDev, c'est choisir une expertise incomparable en création web et SEO, avec des services
                sur mesure conçus
                pour renforcer votre présence en ligne. Nous nous engageons à offrir des solutions innovantes, une
                satisfaction client
                optimale et des résultats concrets à chaque étape de votre projet.
            </p>
            <div class="container">
                <div class="row text-center"> <!-- Ajout de text-center pour centrer le contenu -->
                    <div class="col-md-3">
                        <div class="chiffre-cle" data-target="6" style="font-family: 'Montserrat', sans-serif">+0</div>
                        <p>Années d'Expérience</p>
                    </div>
                    <div class="col-md-3">
                        <div class="chiffre-cle" data-target="235" style="font-family: 'Montserrat', sans-serif">+0
                        </div>
                        <p>Projets Réalisés</p>
                    </div>
                    <div class="col-md-3">
                        <div class="chiffre-cle" data-target="99.5" style="font-family: 'Montserrat', sans-serif">+0
                        </div>
                        <p>Avis Positifs</p>
                    </div>
                    <div class="col-md-3">
                        <div class="chiffre-cle" data-target="30" style="font-family: 'Montserrat', sans-serif">+0</div>
                        <!-- Corrigé : Ajout de la dernière colonne manquante -->
                        <p>Top Entreprises</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="py-5">
        <style>
            .card img {
                max-height: 400px;
                object-fit: cover;
            }
        </style>
        <div class="container mt-5">
            <h2 class="py-3" style="font-family: 'Montserrat', sans-serif">NOS REALISATIONS
            </h2>
            <p class="py-4" style="text-align: center;">Nous avons eu le privilège de collaborer avec des entreprises et
                des projets
                variés, en leur offrant des
                solutions sur
                mesure. De la conception de sites web attractifs et performants à l'optimisation de l'expérience
                utilisateur, chaque
                réalisation reflète notre engagement envers l'excellence et l'innovation. Explorez nos succès et
                découvrez comment nous
                avons aidé nos clients à se démarquer.</p>
            <div class="row">
                <!-- Première ligne -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="Atomi Hotel">
                        <div class="card-body">
                            <h5 class="card-title">ATOMI HOTEL</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="Assurance Experts">
                        <div class="card-body">
                            <h5 class="card-title">Experts d'Assurance</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Deuxième ligne -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="Artisans en Gironde">
                        <div class="card-body">
                            <h5 class="card-title">Artisans en Gironde</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="NECOBAC">
                        <div class="card-body">
                            <h5 class="card-title">NECOBAC</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Troisième ligne -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="Laboratoire AVIE">
                        <div class="card-body">
                            <h5 class="card-title">Laboratoire AVIE</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="Laboratoire AVIE">
                        <div class="card-body">
                            <h5 class="card-title">Laboratoire AVIE</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <section class="section-avis" style="background-color: #E7E7EB; padding: 50px 0;">
        <div>
            <div class="container text-center">
                <!-- Première image centrée -->
                <div class="row justify-content-center mb-4">
                    <div class="col-md-6">
                        <img src="{% static 'assets/images/image2.webp' %}" alt="Image centrée" class="img-fluid">
                    </div>
                </div>

                <!-- Paragraphe avec titre -->
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h2 class="py-4" style="font-family: 'Montserrat', sans-serif">CE QUE DISENT NOS CLIENTS</h2>
                    </div>
                </div>

                <!-- Petite image centrée -->
                <div class="row justify-content-center mt-4">
                    <div class="col-md-2">
                        <img src="{% static 'assets/images/image3.webp' %}" alt="Petite image centrée"
                            class="img-fluid">
                    </div>
                </div>

                <!-- Cartes des services avec une décalée -->
                <div class="row justify-content-center mt-5">
                    <!-- Première carte -->
                    <div class="col-md-4 mb-3">
                        <div class="service-avis text-start">
                            <div class="mb-3">
                                <img src="{% static 'assets/images/google.webp' %}" alt="Maintenance"
                                    class="img-fluid d-block mx-auto">
                                <img src="{% static 'assets/images/avis.webp' %}" alt="Maintenance"
                                    class="img-fluid d-block mx-auto">
                            </div>
                            <p>Grâce à Fay dev soltion, notre site web a connu un véritable coup de boost ! Le design
                                est
                                moderne et épuré, et les
                                fonctionnalités sont exactement ce dont nous avions besoin. L’équipe a été attentive à
                                nos besoins et a toujours su
                                répondre rapidement à nos questions. Nous sommes ravis des résultats !
                            </p>
                            <h5>Julie Brun</h5>
                        </div>
                    </div>

                    <!-- Carte du milieu (décalée vers le bas) -->
                    <div class="col-md-4 mb-3">
                        <div class="service-avis text-start"> <!-- Ajout du 'margin-top' -->
                            <div class="mb-3">
                                <img src="{% static 'assets/images/google.webp' %}" alt="Maintenance"
                                    class="img-fluid d-block mx-auto">
                                <img src="{% static 'assets/images/avis.webp' %}" alt="Maintenance"
                                    class="img-fluid d-block mx-auto">
                            </div>
                            <p>Je recommande vivement EcomDev pour leur service de référencement. Depuis qu'ils
                                s'occupent de notre SEO, notre trafic a
                                considérablement augmenté. Ils ont une approche personnalisée et nous ont guidés à
                                chaque étape. Un vrai partenaire de
                                confiance pour notre croissance en ligne !
                            </p>
                            <h5>Julien Martin</h5>
                        </div>
                    </div>

                    <!-- Troisième carte -->
                    <div class="col-md-4 mb-3">
                        <div class="service-avis text-start">
                            <div class="">
                                <img src="{% static 'assets/images/google.webp' %}" alt="Maintenance"
                                    class="img-fluid d-block mx-auto">
                                <img src="{% static 'assets/images/avis.webp' %}" alt="Maintenance"
                                    class="img-fluid d-block mx-auto">
                            </div>
                            <p>La maintenance de notre site est entre de bonnes mains avec EcomDev. Ils assurent des
                                mises à jour régulières et sont
                                toujours disponibles en cas de besoin. Grâce à leur réactivité, nous avons évité
                                plusieurs problèmes techniques. Leur
                                professionnalisme fait toute la différence !
                            </p>
                            <h5>Sophie Leroy</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer" style="background-color: #014d6d; color: white;   padding: 50px 0;">
        <div class="container" style="position: relative; top: 30px;">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <img class="footer-logo" style="width:90px; height: 80px;"
                            src="{% static 'assets/images/logo.png' %}" alt="Image centrée" class="img-fluid">
                        <p class="mt-3">Agence spécialisée dans la création et le référencement de sites web et
                            d’applications mobiles.</p>
                    </div>
                </div>
                <style>
                    .footer-logo {
                        background-color: white;
                        width: 90px;
                        height: 80px;
                        padding: 10px;
                        border-radius: 48px;
                    }
                </style>
                <div class="col-md-3" style="position: relative; top: 30px;">
                    <h4>Nos Services</h4>
                    <ul class="list-unstyled p-3 mt-3">
                        <li>Création de sites web</li>
                        <li>Référencement (SEO)</li>
                        <li>Création d'applications web</li>
                    </ul>
                </div>

                <div class="col-md-3" style="position: relative; top: 30px;">
                    <h4>Contact</h4>
                    <div class="p-3 mt-3">
                        <ul class="list-unstyled">
                            <li><img src="{% static 'assets/images/phone.png' %}" alt="Phone icon"> Téléphone</li>
                            <li><img src="{% static 'assets/images/email.png' %}" alt="Email icon"> Email</li>
                            <li><img src="{% static 'assets/images/address.png' %}" alt="Location icon"> Adresse</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right; margin-top: 10px; margin-right: 20px;">
            <a href="" style="color: white; margin-right: 15px;">Mention légale</a>
            <a href="" style="color: white;">Politique de sécurité</a>
        </div>

    </section>

    <script>
        // Fonction pour incrémenter les chiffres avec un "+" devant
        function animateCounter(el, target) {
            let count = 0;
            const increment = target / 200; // Ajuster ce chiffre pour changer la vitesse
            const updateCount = () => {
                count += increment;
                if (count < target) {
                    el.innerText = '+' + Math.ceil(count);
                    requestAnimationFrame(updateCount);
                } else {
                    el.innerText = '+' + target;
                }
            };
            updateCount();
        }

        // Initialiser l'animation sur les éléments avec la classe 'chiffre-cle'
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.chiffre-cle').forEach(el => {
                const target = parseInt(el.getAttribute('data-target'));
                animateCounter(el, target);
            });
        }); document.addEventListener('DOMContentLoaded', function () {
            var cocoenElements = document.querySelectorAll('.cocoen');
            cocoenElements.forEach(function (el) {
                new Cocoen(el);
            });
        });


    </script>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>