<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fay Dev Solutions</title>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Poppins:wght@500&family=Montserrat:wght@400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}

    <!-- Inclure le fichier CSS -->
    <link rel="stylesheet" href="{% static 'assets/styles/style.css' %}">
    <style>
        :root {
            --background-color: #03476E;
        }

        .card-custom {
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .card-title-custom {
            background-color: var(--background-color);
            color: white;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 1.1rem;
        }

        .btn-custom {
            background-color: var(--background-color);
            color: white;
            border-radius: 30px;
            padding: 10px 20px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.9rem;
        }

        .icon-container img {
            height: 50px;
            margin: 30px;
        }

        .bg-light-blue {
            background-color: #e9f4ff;
        }

        .btn-primary-custom {
            background-color: #03476E;
            color: white;
        }

        .section-header {
            color: #03476E;
            font-weight: bold;
        }

        .info-box {
            font-size: 20px;
            font-weight: bold;
        }

        h5 {
            font-family: 'Montserrat', sans-serif
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <div class="container">
            <a href="{% url 'index' %}"><img src="{% static 'assets/images/logo.png' %}" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'apropos' %}">À Propos</a>
                    </li>

                    <!-- Dropdown pour Nos Services -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Nos Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                            <li><a class="dropdown-item" href="{% url 'creationSiteWeb' %}">Création de site web</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'referencement' %}">Référencement SEO</a></li>
                            <li><a class="dropdown-item" href="{% url 'maintenance' %}">Maintenance</li>
                        </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Hero Section -->
    <section id="apropos">
        <div class="container"></div>
        <div class="row">
            <!-- Colonne de texte -->
            <div class="col-md-12 justify-content-center">
                <h2 class="a-propos">Référencement SEO</h2>
                <p>Home /Création de site web</p>
            </div>
        </div>
        </div>
    </section>


    <!-- About Section -->
    <section id="about" class="bg-light">
        <div class="container">
            <div class="row about-p">
                <!-- Texte à gauche -->
                <div class="col-md-6 d-flex align-items-center mt-4 order-md-1">
                    <div>
                        <h2 class="about-apropos" style="font-family: 'Montserrat', sans-serif;text-align: left">
                            Augmentez votre visibilité en ligne avec notre expertise en SEO
                        </h2>
                        <p>Le référencement naturel (SEO) est une clé essentielle pour propulser votre site web en tête
                            des résultats des moteurs
                            de recherche. Nous optimisons chaque aspect de votre site afin de vous permettre de capter
                            plus de trafic organique et
                            de maximiser votre visibilité en ligne. Grâce à notre savoir-faire, nous vous aidons à
                            atteindre les premières positions
                            sur Google, ce qui se traduit par une augmentation de vos visiteurs et une expérience
                            utilisateur améliorée.
                        </p>
                        <p>Que vous souhaitiez attirer de nouveaux clients, booster vos ventes, ou simplement faire
                            connaître votre entreprise,
                            notre service de SEO s’adapte à vos besoins spécifiques. Nous travaillons main dans la main
                            avec vous pour créer une
                            stratégie de référencement efficace, adaptée à vos objectifs, afin de garantir des résultats
                            durables et mesurables.
                            Ensemble, faisons passer votre présence en ligne à un tout autre niveau.</p>
                        <a href="{% url 'contact' %}" class="btn btn-about">Contactez-nous</a>
                    </div>
                </div>

                <!-- Image à droite -->
                <div class="col-md-6 order-md-2">
                    <img src="{% static 'assets/images/suivi-seo-marketing-digital.jpg' %}" alt="Web design example"
                        class="img-fluid">
                    <img src="{% static 'assets/images/seo-definition-referencement-naturel-le-site-francais.jpg' %}"
                        alt="Web design example" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container text-center">
            <div class="row mb-4">
                <div class="col-md-4 card h-100 shadow border-0">
                    <div class="icon-container">
                        <img src="{% static 'assets/images/rechercher-sur-le-web.webp' %}" alt="Audit SEO Complet">
                    </div>
                    <h5>Audit SEO Complet</h5>
                </div>
                <div class="col-md-4 card h-100 shadow border-0">
                    <div class="icon-container">
                        <img src="{% static 'assets/images/optimisation.webp' %}" alt="Optimisation On-Page">
                    </div>
                    <h5>Optimisation On-Page</h5>
                </div>
                <div class="col-md-4 card h-100 shadow border-0">
                    <div class="icon-container">
                        <img src="{% static 'assets/images/seo.webp' %}" alt="Création de Contenu SEO">
                    </div>
                    <h5>Création de Contenu SEO</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5  text-center">
        <div class="container">
            <h2 class="section-header" style="font-family: 'Montserrat', sans-serif">Meilleure agence de référencement
                SEO</h2>
            <p class="mb-5">Notre agence de référencement SEO, reconnue comme l'une des meilleures du secteur,offre
                des
                solutions personnalisées pour améliorer <br>la visibilité et le classement de votre site web sur les
                moteurs
                de recherche.</p>

            <div class="row">
                <div class="col-md-3">
                    <div class="info-box">
                        <span style="font-family: 'Montserrat', sans-serif" class="d-block">+15 ans</span>
                        <small style="font-family: 'Montserrat', sans-serif">d'expérience</small>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-box">
                        <span style="font-family: 'Montserrat', sans-serif" class="d-block">+300</span>
                        <small style="font-family: 'Montserrat', sans-serif">projets réalisés</small>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-body info-box">
                        <span class="d-block" style="font-family: 'Montserrat', sans-serif">+180</span>
                        <small style="font-family: 'Montserrat', sans-serif">Sites en 1ère page</small>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-box">
                        <span class="d-block" style="font-family: 'Montserrat', sans-serif">12</span>
                        <small style="font-family: 'Montserrat', sans-serif">Certifications</small>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <a href="{% url 'contact' %}" class="btn btn-primary-custom"
                    style="background-color: #03476E; color: white;">Demander un
                    Devis
                    Gratuit</a>
            </div>
        </div>
    </section>

    <section class="footer" style="background-color: #014d6d; color: white;   padding: 50px 0;">
        <div class="container" style="position: relative; top: 30px;">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <img class="footer-logo" style="width:90px; height: 80px;"
                            src="{% static 'assets/images/logo.png' %}" alt="Image centrée" class="img-fluid">
                        <p class="mt-3">Agence spécialisée dans la création et le référencement de sites web et
                            d’applications mobiles.</p>
                    </div>
                </div>
                <style>
                    .footer-logo {
                        background-color: white;
                        width: 90px;
                        height: 80px;
                        padding: 10px;
                        border-radius: 48px;
                    }
                </style>
                <div class="col-md-3" style="position: relative; top: 30px;">
                    <h4>Nos Services</h4>
                    <ul class="list-unstyled p-3 mt-3">
                        <li>Création de sites web</li>
                        <li>Référencement (SEO)</li>
                        <li>Création d'applications web</li>
                    </ul>
                </div>
                <div class="col-md-3" style="position: relative; top: 30px;">
                    <h4>Contact</h4>
                    <div class="p-3 mt-3">
                        <ul class="list-unstyled">
                            <li><img src="{% static 'assets/images/phone.png' %}" alt="Phone icon"> Téléphone</li>
                            <li><img src="{% static 'assets/images/email.png' %}" alt="Email icon"> Email</li>
                            <li><img src="{% static 'assets/images/address.png' %}" alt="Location icon"> Adresse</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right; margin-top: 10px; margin-right: 20px;">
            <a href="" style="color: white; margin-right: 15px;">Mention légale</a>
            <a href="" style="color: white;">Politique de sécurité</a>
        </div>

    </section>



    <script>
        // Fonction pour incrémenter les chiffres avec un "+" devant
        function animateCounter(el, target) {
            let count = 0;
            const increment = target / 200; // Ajuster ce chiffre pour changer la vitesse
            const updateCount = () => {
                count += increment;
                if (count < target) {
                    el.innerText = '+' + Math.ceil(count);
                    requestAnimationFrame(updateCount);
                } else {
                    el.innerText = '+' + target;
                }
            };
            updateCount();
        }

        // Initialiser l'animation sur les éléments avec la classe 'chiffre-cle'
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.chiffre-cle').forEach(el => {
                const target = parseInt(el.getAttribute('data-target'));
                animateCounter(el, target);
            });
        }); document.addEventListener('DOMContentLoaded', function () {
            var cocoenElements = document.querySelectorAll('.cocoen');
            cocoenElements.forEach(function (el) {
                new Cocoen(el);
            });
        });


    </script>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>